[Unit]
Description=Sugrefftea Telegram Bot
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/SugreffBot
ExecStart=/usr/bin/python3 /root/SugreffBot/bot.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 